<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sns.like.dao.LikeMapper">

<insert id="insertLikeByPostIdAndUserId" parameterType="map">
INSERT INTO `like`
	(
	`createdAt`
	, `postId`
	, `userId`
	)
	VALUES
	(
	NOW()
	, #{postId}
	, #{userId}
	)
</insert>

<select id="selectLikeByPostIdAndUserId" parameterType="map" resultType="com.sns.like.model.Like">
	SELECT
		`userId`
		, `postId`
		, `createdAt`
	FROM
		`like`
	WHERE
		`postId` = #{postId}
	AND
		`userId` = #{userId}
</select>

<select id="selectLikeCntByPostId" parameterType="integer" resultType="int">
SELECT COUNT(`postId`) AS likeCnt FROM `like` WHERE `postId` = #{postId};
</select>

<!-- likeCount쿼리 하나로 합치기 -->
<!-- 조건문 또는 반복문 모두 사용가능 mybatis문법 -->
<select id="selectLikeCountByPostIdOrUserId" parameterType="map" resultType="int">
SELECT COUNT(*) FROM `like` WHERE `postId` = #{postId} <if test="userId != null"> AND `userId` = #{userId}</if>;
</select>

<delete id="deleteLikeByPostIdAndUserId" parameterType="map">
	DELETE
	FROM
		`like`
	WHERE
		`postId` = #{postId}
	AND
		`userId` = #{userId}
</delete>

</mapper>