@charset "UTF-8";

header {
	height: 100px;
	min-width : 900px;
	
}

#header-title-box {
	min-width: 420px;	
}

#header-user-box {
	min-width: 130px;
}
/* top 버튼 */

#top-star{
	object-fit:cover;
	width:45px;
}

#top-btn{
	
	font-size: 1em;  
	color:#fff;
	/* 가운데정렬을위한 lineheight */
	line-height: 50px;
	text-align: center;
	width:50px;
	height:50px;
	/* 원만들기 */
	border-radius: 40px;
	position: fixed;
	bottom: 60px;
	right:50px;
	transition-property: background-color, opacity, visibility;
	transition-duration: 0.3s, 0.5s, 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}

#top-btn:after{
   line-height: 40px;
   }
 
 #top-btn.show{
   opacity:1;
   visibility:visible;
 }
 
 #top-btn.show:hover{
   cursor:pointer;	
   background-color: #FDF5DC;
 }
 
/* top버튼 */

#sign-in-box {
	max-width: 450px;	
}

#sign-up-box {
	max-width: 450px;
}

.logo {
	color: black !important;
}

.logo:hover {
	text-decoration: none !important;
	color: #FFCD28 !important;
}

#title {
	text-shadow: 5px 4px 5px lightgray;
}

.log-out {
	color: black;
	background-color : lightgray;
	border:1px solid lightgray;
	border-radius: 3px;
	font-size:15px;
}

.log-out:hover {
	color: white;
	border:1px solid lightgray;
	text-decoration: none;
}

#wrap {
	height: 1000px;
}



.text-group-box {
	width: 450px;
	padding: 0;
}

.text-box {
	width: 100%;
	border: 1px solid rgba(232, 232, 232, 0.988);
	border-radius: 2%;
}

.img-icon {
	cursor: pointer;
}

.post-input-box {
	width: 100%;
	border: none;
}

.post-box {
	width: 450px;
	box-shadow: 8px 8px 10px 5px rgba(232, 232, 232, 0.988);
	border-radius: 2%;
}

.post-box:first-child {
	margin-top: 15px;
}

.post-box:not(:first-child) {
	margin-top: 30px;
}

.post-id-box {
	font-size: 13px;
}

.see-more-icon:hover {
	cursor: pointer;
}

.post-img {
	border-radius: 2%;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.post-content-box {
	border-bottom: 1px solid #dcdcdc;
}

.un-like-img {
	cursor: pointer;
}

.like-img {
	cursor: pointer;
}

.comment-box {
	
}

.comment-content-wrapper {
	width : 100%;
}

.comment-content-box {
	width: 100%;
	height: 20px;
	overflow: hidden;
}

.comment-form-box {
	display: flex;
	justify-content: space-between;
}

.delete-img {
	cursor: pointer;
}

.comment-input-box {
	border: none;
	width: 375px;
	outline: none;
	font-size: 15px;
}